/*Header css*/
.log:hover{
    color: white;
    background-color: black;
    
}
.sidebar {
    background-color: rgba(255, 255, 255, 0.993);
}

.nav-link {
    font-weight: 500;
    position: relative;
}

@media (min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background:linear-gradient(to right,rgb(62, 110, 241) , rgb(231, 26, 250));
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 80%;
        visibility: visible;
    }
}

/*Footer css*/
.newhr {
    border: solid black 2px;
    border-radius: 8px;
    color: black;
}

input.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
}

body {
    color: black;
    font-family: "Signika Negative", sans-serif;
}

p {
    color: black;
}

marquee {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 100px;
}
